# Binaries and generated sources
target/
bin/
/src/main/setup/

# Editor files and folders
.classpath
.project
.settings/
/nb-configuration.xml
/nbactions.xml
.idea/
.vscode/

# Configuration files others than the one provided by default
/src/main/resources/application-*.properties

# System Files
.DS_Store
Thumbs.db
